<!-- Video Demo Section -->
    <section id="demo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Product Walkthrough</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="video-responsive">
                <iframe width="720" height="405" style="margin:auto;" src="https://www.youtube.com/embed/UNh9bhDXu7U" title="Fake News Bears - Capstone Spring 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </section>
