<!-- Infra Section -->
    <section id="infra">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Tech</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>

        <!-- Tabs with Background on Card -->
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs nav-tabs-neutral justify-content-left" role="tablist" data-background-color="yellow">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#data" role="tab">Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#models" role="tab">Models</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#infra" role="tab">Infrastructure</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#results" role="tab">Results</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <!-- Tab panes -->
              <div class="tab-content text-left">
                <div class="tab-pane active" id="data" role="tabpanel">
                  <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                </div>
                <div class="tab-pane" id="models" role="tabpanel">
                  <p> Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Praesent nonummy mi in odio. Nullam accumsan lorem in dui. </p>
                </div>
                <div class="tab-pane" id="infra" role="tabpanel">
                  <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                  <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
                </div>
                <div class="tab-pane" id="results" role="tabpanel">
                  <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                  <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
                  <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                </div>
              </div>
            </div>
          </div>
    </section>
