<!-- Product Section -->
    <section id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Product</h2>
                    <h3 class="section-subheading text-muted">Video demo walkthrough.</h3>
                </div>
            </div>
            <div class="video-responsive">
                <iframe width="1120" height="630" style="margin:auto;" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Fake News Bears Capstone Demo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </section>
