<!-- Problem Stats Section -->
    <section id="stats" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="section-heading text-primary">The Problem</h2>
                    <p class="text-primary">Media disinformation has the power to negatively impact countless lives, and is often used to marginalize at-risk members of the population. It can spread like wildfire, and detection of fake news is often not simple. Our hope is to increase awareness and spread education by creating easy-to-understand and implement scoring mechanisms for influential Twitter users on their truth and emotional content.</p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="COL-XS-12 COL-SM-6">
                            <h2 class="section-heading text-primary">5,126,990</h2>
                            <h3 class="section-subheading text-primary">Users exposed to misinformation on Twitter daily.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="COL-XS-12 COL-SM-6">
                            <h2 class="section-heading text-primary">1,800,000</h2>
                            <h3 class="section-subheading text-primary">Tweets flagged as misinformation from 2022-2023.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
