<!-- Problem Stats Section -->
    <section id="stats" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="section-heading text-white">The Problem</h2>
                    <p class="text-primary">Media disinformation has the power to negatively impact countless lives and is often used to marginalize at-risk members of the population. It can spread like wildfire and the detection of fake news is often not simple. Our hope is to spread awareness and increase education by creating easy-to-understand scoring mechanisms for influential Twitter users' content.</p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="COL-XS-12 COL-SM-6">
                            <h2 class="section-heading text-white">70% More Likely</h2>
                            <h3 class="section-subheading text-white">
                                <a href="https://www.reuters.com/article/us-usa-cyber-twitter-idUSKCN1GK2QQ" target="_blank" rel="noopener noreferrer">
                                    "False news 70 percent more likely to spread on Twitter."
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="COL-XS-12 COL-SM-6">
                            <h2 class="section-heading text-white">6X Faster</h2>
                            <h3 class="section-subheading text-white">
                                <a href="https://www.pbs.org/newshour/science/false-news-travels-6-times-faster-on-twitter-than-truthful-news" target="_blank" rel="noopener noreferrer">
                                    "False news travels 6 times faster on Twitter than truthful news."
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
